<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.2"?>
<plugin>

   <extension
         id="application"
         point="org.eclipse.core.runtime.applications">
      <application>
         <run
               class="jamsa.rcp.downloader.Application">
         </run>
      </application>
   </extension>
   <extension
         point="org.eclipse.ui.perspectives">
      <perspective
            name="Downloader Perspective"
            class="jamsa.rcp.downloader.Perspective"
            id="jamsa.rcp.downloader.perspective">
      </perspective>
   </extension>
   <extension
         point="org.eclipse.ui.views">
      <view
            class="jamsa.rcp.downloader.views.CategoryTreeView"
            icon="icons/category.gif"
            id="jamsa.rcp.downloader.views.CategoryTreeView"
            name="下载分类"/>
      <view
            class="jamsa.rcp.downloader.views.TaskTableView"
            icon="icons/task.gif"
            id="jamsa.rcp.downloader.views.TaskTableView"
            name="任务"/>
      <view
            category="bottom"
            class="jamsa.rcp.downloader.views.TaskInfoView"
            icon="icons/taskinfo.gif"
            id="jamsa.rcp.downloader.views.TaskInfoView"
            name="任务信息"/>
      <view
            category="bottom"
            class="jamsa.rcp.downloader.views.ConsoleView"
            icon="icons/console.gif"
            id="jamsa.rcp.downloader.views.ConsoleView"
            name="终端"/>
   </extension>
   <extension
         point="org.eclipse.ui.viewActions">
      <viewContribution
            id="jamsa.rcp.downloader.views.CategoryTreeViewContribution"
            targetID="jamsa.rcp.downloader.views.CategoryTreeView">
            <action
                  class="jamsa.rcp.downloader.views.actions.EmptyTrashAction"
                  enablesFor="1"
                  icon="icons/trash.gif"
                  id="jamsa.rcp.downloader.views.actions.EmptyTrashAction"
                  label="清空回收站"
                  menubarPath="category"
                  style="push"
                  toolbarPath="category"/>
            <action
                  class="jamsa.rcp.downloader.views.actions.DeleteCategoryAction"
                  enablesFor="1"
                  icon="icons/category-delete.gif"
                  id="jamsa.rcp.downloader.views.actions.DeleteCategoryAction"
                  label="删除分类"
                  menubarPath="category"
                  style="push"
                  toolbarPath="category"/>
            <action
                  class="jamsa.rcp.downloader.views.actions.ModifyCategoryAction"
                  enablesFor="1"
                  icon="icons/category-edit.gif"
                  id="jamsa.rcp.downloader.views.actions.ModifyCategoryAction"
                  label="修改分类"
                  menubarPath="category"
                  style="push"
                  toolbarPath="category"/>
            <action
                  class="jamsa.rcp.downloader.views.actions.AddCategoryAction"
                  enablesFor="1"
                  icon="icons/category-add.gif"
                  id="jamsa.rcp.downloader.views.actions.AddCategoryAction"
                  label="新增分类"
                  menubarPath="category"
                  style="push"
                  toolbarPath="category"/>
      </viewContribution>
         <!-- 
      <viewContribution
            id="jamsa.rcp.downloader.views.TaskTableViewContribution"
            targetID="jamsa.rcp.downloader.views.TaskTableView">
         <action
               class="jamsa.rcp.downloader.views.actions.RunTaskAction"
               enablesFor="1"
               icon="icons/alt_window_16.gif"
               id="jamsa.rcp.downloader.views.actions.RunTaskAction"
               label="Run Task"
               menubarPath="task"
               style="push"
               toolbarPath="task"/>
      </viewContribution>
      -->
   </extension>
   <extension
         point="org.eclipse.ui.preferencePages">
      <page
            class="jamsa.rcp.downloader.preference.General"
            id="jamsa.rcp.downloader.preference.General"
            name="常规"/>
      <page
            class="jamsa.rcp.downloader.preference.Connection"
            id="jamsa.rcp.downloader.preference.Connection"
            name="网络"/>
      <page
            class="jamsa.rcp.downloader.preference.DefaultTask"
            id="jamsa.rcp.downloader.preference.DefaultTask"
            name="任务缺省属性"/>
   </extension>
   <extension
         id="product"
         point="org.eclipse.core.runtime.products">
      <product
            application="jamsa.rcp.downloader.application"
            name="RCP Get">
         <property
               name="aboutText"
               value="%aboutText"/>
      </product>
   </extension>

</plugin>
